* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { margin-top: 50px; }

/* NAVBAR */

nav.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 20px, 0.3fr ));
  text-align: center;
}

nav.pagination.a {
  padding: 15px 0;
}

nav.pagination.span {
  padding: 15px 0;
}

/* CAROUSEL */

/* .carousel { background: #000; background-size: cover;  }
.carousel-item { height: 350px; overflow: hidden; max-width: 765px; }
.entry-title { text-decoration: none ;}
.carousel-caption a { color: #fff; } */

/* BLOG */

.blog-element { 
  height: 200px; 
  overflow: hidden; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  margin-left: 20px;
}
.blog-element a { 
  color: #fff; 
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0,0,0,.5); }

.blog-element a:hover { 
  color: #d9d9d9; 
  text-decoration: underline;
}

.entr
.no-margin { margin: 0; }
.blog-item { padding: 0; } 

/* CONTACT FORM */

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #777777;
}
form .form-group input, input:focus{
 box-shadow: none;
}

form .form-group textarea, textarea:focus{
 box-shadow: none;
}

.btn{
  font: normal 500 16px/25px var(--roboto);
  color: var(--text-color);
}

.btn:focus {
  box-shadow: none;
}

/* MAP */
#mapid { 
  height: 450px; 
}

/* ICONS */

.fab:hover {
  color: rgb(224, 224, 10);
  transition: ease-in-out 0.2s;
}

/* ASIDE */

.wp-block-search__inside-wrapper {
  margin-right: 20px;
}
    
/* COMMENTS */

#respond { 
  background: #fbfbfb;
  padding:0 10px 0 10px;
  }
    
#respond input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
    
    
#respond input[type=text]:focus,
input[type=email]:focus, 
input[type=url]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 5px 1px 3px 0px;
  border: 2px solid rgba(81, 203, 238, 1);
}


#author, #email { 
  color:#1d1d1d; 
  letter-spacing:.1em;
} 
    
#submit {
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
} 
  
#submit:hover {
  color: white;
}

#submit:active { 
  position:relative;
  top:1px;
}

.page-numbers {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid #eee;
  line-height: 1;
  text-decoration: none;
  color: teal;
  border-radius: 2px;
  font-weight: 600;
  }

  .page-numbers.current,
  a.page-numbers:hover {
    background: #f9f9f9;
    color: teal;
  }
  




  


